---
layout: base.njk
permalink: /press/
---

<div class="page-container">

  <nav class="au-breadcrumbs" aria-label="breadcrumb">
    <ul class="au-link-list au-link-list--inline">
      <li><a href="/">← Home</a></li>
    </ul>
  </nav>

  <h1>All Press ARCHIVE</h1>

  {% set postslist = collections.press %}
  {% include "press-list.njk" %}

</div>
