<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href={{ page.url | url | absoluteUrl(site.url) }} />

    {% bundledcss %}

    <title>
      {{  title  | escape }}
      {% if title %}
         | {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>

    <link rel="icon" type= “image/x-icon” href="/images/favicon.ico" />

    <meta property="og:title" content="{{  title or site.name | escape }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url + page.url }}" />
    <meta name="twitter:card" content="summary_large_image" />

    {% set desc = description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}" />
      <meta property="og:description" content="{{ desc | escape }}" />
      <meta name="description" content="{{ desc | escape }}" />
    {% endif %}

    {% if not socialImage %}
      {% set socialImage = site.defaultSocialImage %}
    {% endif %}
    {% if socialImage %}
      <meta property="og:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
      <meta name="twitter:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
    {% endif %}
  </head>
  <body class="au-grid">

    <nav class="au-skip-link">
      <a class="au-skip-link__link" href="#content">Skip to main content</a>
      <a class="au-skip-link__link" href="#mainmenu">Skip to main navigation</a>
    </nav>

    <header class="au-header" role="banner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <a class="au-header__brand" href={{ "/" | url }}>
              <div class="au-header__text">
                <h1 class="au-header__heading">{{site.name}}</h1>
              </div>
            </a>
          </div>
        </div>
      </div>
    </header>

    <main id="content">
      <div class="au-body">
        {{ content | safe }}
      </div>
    </main>

    <footer class="au-footer au-body" role="contentinfo">
      <div class="container">
        <div class="row">
          <nav class="col-md-12 clearfix" aria-label="footer">
            <ul class="au-link-list au-link-list--inline" style="text-transform: uppercase">
              {% if site.footerLinks %}

                {% for item in site.footerLinks %}
                  {% set externalAttribute = '' %}

                  {% if item.external %}
                    {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                  {% endif %}

                  <li>
                    <a href="{{ item.url | url }}" {{ externalAttribute | safe }}>{{ item.text }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
            <ul class="au-link-list au-link-list--inline float-right">
              {% if site.socialLinks %}

                {% for item in site.socialLinks %}
                  {% set externalAttribute = '' %}

                  {% if item.external %}
                    {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                  {% endif %}

                  <li>
                    <a href="{{ item.url | url }}" {{ externalAttribute | safe }}>{{ item.text }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </nav>
          <section class="col-sm-12">
            <div class="au-footer__end">
              <p>
                © 2021 Design System AU. This work is licensed under the <a href="https://github.com/designsystemau/blog-site/blob/main/LICENSE" rel="external" target="_blank">MIT license</a>.
              </p>
            </div>
          </section>
        </div>
      </div>
    </footer>

    {% designsystemjs %}
    {% bundledjs %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T7JHW8GB2Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-T7JHW8GB2Q');
    </script>
  </body>
</html>
