---
layout: base.njk
---

<style>
  .post__content strong { font-weight: 800 }
</style>

<div class="page-container">

  <nav class="au-breadcrumbs" aria-label="breadcrumb">
    <ul class="au-link-list au-link-list--inline">
      <li><a href="/">← Home</a></li>
    </ul>
  </nav>

  <article class="post">
    <header class="post__header">
      <h1>{{ title }}</h1>
      <div class="post__details">
        <time datetime="{{ page.date | htmlDateString }}">
          {{ page.date | readableDate }}
        </time>
        <span> | </span>
        <span>{{ content | readingTime }} read</span>
      </div>
    </header>

    <main class="post__content">
      {{ content | safe }}
    </main>

    <aside class="post__aside">

      <ul class="au-tag-list">
        {% for tag in tags | pageTags %}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <li><a href="{{ tagUrl | url }}" class="au-tag">#{{ tag }}</a></li>
        {% endfor %}
      </ul>

      <nav class="post__pagination">
        {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
        {%- if nextPost %}

          <a href="{{ nextPost.url | url }}">
            <span>←</span>
            <span>{{ nextPost.data.title }}</span>
          </a>

        {% endif %}

        {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {%- if previousPost %}

          <a href="{{ previousPost.url | url }}">
            <span>{{ previousPost.data.title }}</span>
            <span>→</span>
          </a>

        {% endif %}
      </nav>
    </aside>

  </article>
</div>
